In [27]:
import pandas as pd
import random
import uuid

In [28]:
# Generar un UUID aleatorio
random_id = uuid.uuid4()
print("ID aleatorio:", random_id)

ID aleatorio: fd9dd691-669d-47c9-9db6-fb900c2ed65d

In [29]:
cluster_1 = [uuid.uuid4() for i in range(15)]
cluster_2 = [uuid.uuid4() for i in range(15)]
cluster_3 = [uuid.uuid4() for i in range(15)]
cluster_4 = [uuid.uuid4() for i in range(15)]

probability_intern = 0.65

clusters = [cluster_1, cluster_2, cluster_3, cluster_4]

data = []
for i in range(150):
    if random.random() < probability_intern:
        cluster_aux = int(random.random() * 3)
        id_1 = clusters[cluster_aux][int(random.random() * 14)]
        id_2 = clusters[cluster_aux][int(random.random() * 14)]
    else:
        id_1 = clusters[int(random.random() * 3)][int(random.random() * 14)]
        id_2 = clusters[int(random.random() * 3)][int(random.random() * 14)]
        
    new_row = {'from_address': id_1, 'to_address': id_2}
    data.append(new_row)
matrix = pd.DataFrame(columns=['from_address', 'to_address'], data=data)

In [30]:
matrix

,from_address,to_address
0,abfa18f1-8ec0-46da-a7ae-1285a022cbb0,4a9e9cae-bfa4-424f-aa5a-d0aa30428be9
1,abfa18f1-8ec0-46da-a7ae-1285a022cbb0,f27ae633-bf32-4c64-8ea6-531b657bb210
2,06bdea9a-7e04-484f-b127-6f26bc4ae4fa,d43d752f-f56f-4dca-bd2d-413dc8a0b7e5
3,4ee71943-a29f-4b87-a801-3ce1219cb2d5,df2495a4-1f60-440d-8e11-d78315d1f213
4,a7d240d8-169d-438b-b19f-248a2d02ac72,40277ae6-ba71-4d29-84ca-1261a888b0f1
...,...,...
145,0dfcfa64-dc22-461c-bc7d-cfc2c51c6167,0dfcfa64-dc22-461c-bc7d-cfc2c51c6167
146,e6b621c7-4092-4832-a1f7-0d9d8ce67a98,e6b621c7-4092-4832-a1f7-0d9d8ce67a98
147,c185870a-c9de-4798-9ada-3fd8323c2d57,aa595cdc-65a9-40dd-ba9c-46a9d8517441
148,45c0df19-0e19-43ea-b07d-01990cd886da,d43d752f-f56f-4dca-bd2d-413dc8a0b7e5
149,4485f2ba-e54d-4e11-857f-8827bd3eb7ba,8a886fb4-cab6-4803-8a12-741705c5eab4